html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#container {
	height: 100%;
	width: 100%;
	position: relative;
	float: left;
	display: block;
	box-sizing: border-box;
	padding: 10px;
}

h1 {
	color: white;
	font-size: 20px;
	text-align: center;
}

p {
	color: white;
}

#places-container {
	height: 100%;
	width: 22%;
	background-color: #032F48;
	float: left;
	text-align: left;
	border-radius: 10px;
	box-sizing: border-box;
	z-index: 1;
	position: relative;
}

#filter-locations-box {
	position: relative;
	width: 60%;
	margin-left: 18px;
}

#filter-locations-button {
	font-size: 12px;
	text-align: center;
	border: none;
	border-radius: 15px;
	margin-left: 5px;
	width: 35%;
}

#filter-locations-button:hover {
	background-color: #4F829F;
	color: white;
	border: none;
}
#map {
    height: 100%;
    float: right;
    width: 100%;
    z-index: 0;
    position: absolute;
}

.fa-filter {
	color: #032F48;
}