body {
	height: 100%;
}

#container {
	height: 100%;
	width: 100%;
	position: relative;
}

h1 {
	color: white;
	font-size: 20px;
	text-align: center;
}

p {
	color: white;
}

#places-container {
	height: 100%;
	width: 35%;
	background-color: #032F48;
	float: left;
	text-align: left;
}

#filter-locations-box {
	position: relative;
	width: 70%;
	margin-left: 26px;
}

#filter-locations-button {
}

#map {
    height: 100%;
    position: absolute;
    float: right;
  }